/* Directory */
body {
	background-color: #6D8994;
	font-family: sans-serif;
	padding-left: 50px;
}

h1 {
	font-size: 60px;
	font-weight:600;
	color: white;
	margin-bottom: 0px;
}

h3 {
	padding-top: -50px;
	font-size: 25px;
	font-weight:600;
	color:rgba(0,0,0,0.5);
}

a {
	padding-top: -50px;
	font-size: 25px;
	font-weight:600;
	color:rgba(255,255,255,0.7);
}


